.container {
  display: flex;
  justify-content: space-between; /* 요소들 사이의 공간을 균등하게 분배 */
  align-items: center;
  width: 100%; /* 컨테이너의 너비를 최대로 설정 */
}

.navbar {
  background-color: #f8f9fa; /* 밝은 회색 톤의 배경 */
  padding: 10px 20px; /* 좌우 패딩 추가 */
}

.nav-link {
  margin: 0 10px; /* 링크 간의 좌우 간격 */
  font-size: 16px; /* 폰트 크기 */
  color: #333; /* 색상 변경 */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: auto;
  width: 60px; /* 로고 이미지 크기 조정 */
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .nav-link {
    font-size: 14px; /* 모바일에서 폰트 크기 조정 */
  }
}
