.login {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login .overlap-wrapper {
    background-color: #ffffff;
    height: 887px;
    width: 1440px;
}

.login .overlap {
    background-color: #ffffff;
    height: 887px;
    position: relative;
}

.login .overlap-group {
    height: 64px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

.login .link {
    height: 25px;
    left: 1017px;
    position: absolute;
    top: 1px;
    width: 75px;
}

.login .background {
    background-color: #f2f2f2;
    height: 64px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

.login .text-wrapper {
    all: unset;
    background-color: #000000;
    border-radius: 5px;
    box-sizing: border-box;
    height: 40px;
    left: 1260px;
    position: absolute;
    top: 12px;
    width: 140px;
}

.login .div {
    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 22px;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 91px;
}

.login .links {
    height: 22px;
    left: 1174px;
    position: absolute;
    top: 21px;
    width: 71px;
}

.login .link-2 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 22px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 69px;
}

.login .logo {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 93px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    width: 63px;
}

.login .menu-instance {
    height: 34px !important;
    left: 24px !important;
    position: absolute !important;
    top: 15px !important;
    width: 34px !important;
}

.login .search-normal {
    height: 24px !important;
    left: 1089px !important;
    position: absolute !important;
    top: 21px !important;
    width: 24px !important;
}

.login .cart {
    height: 32px !important;
    left: 1128px !important;
    position: absolute !important;
    top: 17px !important;
    width: 32px !important;
}

.login .text-wrapper-2 {
    color: #000000;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 48px;
    font-weight: 700;
    left: 659px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 180px;
    white-space: nowrap;
}

.login .text-wrapper-3 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 643px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 264px;
    white-space: nowrap;
}

.login .text-wrapper-4 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 497px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 702px;
    white-space: nowrap;
}

.login .text-wrapper-5 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 650px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 702px;
    white-space: nowrap;
}

.login .text-wrapper-6 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 826px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 702px;
    white-space: nowrap;
}

.login .continue-with-google {
    background-color: #03c75a;
    border-radius: 10px;
    box-shadow: 0px 2px 3px #0000002b, 0px 0px 3px #00000015;
    height: 54px;
    left: 727px;
    position: absolute;
    top: 614px;
    width: 261px;
}

.login .frame {
    align-items: flex-start;
    background-color: #03c75a;
    border-radius: 10px;
    display: inline-flex;
    gap: 15px;
    left: 38px;
    padding: 15px;
    position: relative;
}

.login .google-logo {
    background-color: #03c75a;
    height: 24px;
    position: relative;
    width: 24px;
}

.login .image {
    height: 20px !important;
    left: 2px !important;
    position: absolute !important;
    top: 2px !important;
    width: 20px !important;
}

.login .text-wrapper-7 {
    color: #ffffff;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.login .frame-wrapper {
    background-color: #fee500;
    border-radius: 10px;
    box-shadow: 0px 2px 3px #0000002b, 0px 0px 3px #00000015;
    height: 54px;
    left: 452px;
    position: absolute;
    top: 614px;
    width: 261px;
}

.login .frame-2 {
    align-items: flex-start;
    background-color: #fee500;
    border-radius: 10px;
    display: inline-flex;
    gap: 15px;
    left: 38px;
    padding: 15px;
    position: relative;
}

.login .image-wrapper {
    background-color: #fee500;
    height: 24px;
    position: relative;
    width: 24px;
}

.login .size-lg {
    height: 24px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 24px !important;
}

.login .text-wrapper-8 {
    color: #262200;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.login .button-primary-instance {
    height: 69px !important;
    left: 452px !important;
    position: absolute !important;
    top: 519px !important;
    width: 536px !important;
}

.login .design-component-instance-node {
    top: 24px !important;
    width: 487px !important;
}

.login .input {
    height: 69px;
    left: 452px;
    position: absolute;
    top: 338px;
    width: 538px;
}

.login .placeholder-wrapper {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 5px;
    height: 69px;
    position: relative;
    width: 536px;
}

.login .placeholder {
    color: #00000080;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 36px;
    letter-spacing: 0;
    line-height: 28.1px;
    position: absolute;
    top: 21px;
    white-space: nowrap;
    width: 73px;
}

.login .overlap-group-wrapper {
    height: 69px;
    left: 452px;
    position: absolute;
    top: 424px;
    width: 538px;
}

.login .placeholder-2 {
    color: #00000080;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 36px;
    letter-spacing: 0;
    line-height: 28.1px;
    position: absolute;
    top: 19px;
    white-space: nowrap;
    width: 131px;
}
