[submodule "client"]
path = client
url = https://github.com/KOSMO-WebProject/client.git  # 예시 URL

[submodule "server"]
path = server
url = https://github.com/KOSMO-WebProject/server.git  # 예시 URLgit submodule sync  # URL 변경 사항을 적용